html { box-sizing: border-box; }
*, *::before, *:after {box-sizing: inherit;}


#car {
  width: auto;
  height: auto;
  min-width: 320px;
  min-height: 240px;
  max-width: 1280px;
  max-height: 960px;
  border: 1px solid blue;
}

img {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px; 
  margin-left: 10px;
}


/* Styling Navigation Bar */

.main-nav{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

.main-nav li {float: left;}
.main-nav li a {
  display: block;
  color: #eee;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

